<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>用英文逗号隔开屏蔽词</string>
		<key>Key</key>
		<string>alert</string>
		<key>Password</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>屏蔽词</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>用英文逗号隔开关注词</string>
		<key>Key</key>
		<string>highlight</string>
		<key>Title</key>
		<string>关注词</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>用英文逗号隔开关注作者名</string>
		<key>Key</key>
		<string>author</string>
		<key>Title</key>
		<string>关注作者名</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
